---
const { players, showCategory } = Astro.props;

import PlayerCard from "./PlayerCard.astro";

{console.log(players.map((player) => player.attributes.group?.data.attributes.name))}
---

<div>
  {
    players.map((player) => (
      <li data-group={player.attributes.group?.data.attributes.name} >
        <a href={`${import.meta.env.BASE_URL}./players/${player.id}`}>
          <h1>{player.attributes.name}</h1>
          <img
            src={
              import.meta.env.STRAPI_URL +
              player.attributes.image.data[0].attributes.formats.small.url
            }
            alt="player"
          />
        </a>
      </li>
    ))
  }
</div> 







<style>
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>
