---

 const { players } = Astro.props;

console.log(players);
---

  




<ul>
  <h1 class="text-center">{players.attributes.group.data.attributes.name}</h1>
  <h1 class="text-center">{players.attributes.name}</h1>
  <img src={import.meta.env.STRAPI_URL+players.attributes.image.data[0].attributes.formats.small.url} alt="">
</ul>



