---
---

<div class="footer">

<div class="footer_links">
    <a href="">About</a>
    <a href="">Contact</a>
    <a href="">Privacy</a>
    <a href="">Terms</a>
</div>

</div>




<style>

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  text-align: center;

  height: 50px;
  
}
</style>