---
---


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/speakers/">Speakers</a></li>
        <li><a href="/e-sport/">E-sport</a></li>
        <li><a href="/tickets/">Tickets</a></li>
        <li><a href="/schedule/">Schedule</a></li>
    </ul>
</nav>

<style>
    nav {
        color: #fff;
        padding: 1rem;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-family: "montserrat", sans-serif

    }

    nav ul li a:hover {
        color: #purple;
        
    }
    
</style>