---

---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="/e-sport" class="dropbtn">E-sport</a>
      <div class="dropdown-content">
        <a href="/allgust">all guest</a>
      </div>
    </li>
    <li><a href="/tickets/">Tickets</a></li>

    <li><a href="/schedule/">Schedule</a></li>
  </ul>
</nav>

<style>
  nav {
    margin-block-start: 1rem;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    color: #494949;
    text-decoration: none;
    font-family: "MonumentExtended";
    font-size: 1rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
