---
import img1 from "../../assets/img/Bdsvs.png"


---




<div class="lastDay_Wrapper">
    <img src={img1.src} alt="">
</div>


<style>

.lastDay_Wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 3rem;
  
}

img{
    width: 60%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

</style>