---
import Layout from "../layouts/Layout.astro";

import SpeakerssList from "../components/cards//speakers/SpeakersList.astro";
import Filter from "../components/filters/Filter.astro";

import fetchApi from "../lib/strapi";

const speakers = await fetchApi({
  endpoint: "speakers",
  wrappedByKey: "data",
  query: { populate: ["*"] },
});

const categories = await fetchApi({
  endpoint: "categories",
  wrappedByKey: "data",
  query: { populate: ["speakers"] },
});


---

<Layout>
  <div class="filter">
    <Filter categories={categories} />
  </div>

  <div class="all_speakers">
    <SpeakerssList speakers={speakers} showCategory={false} />
  </div>

  
</Layout>

<style>
  .all_speakers {
    height: 100vh;
  }


  .filter {
  margin-top: 50px;
  margin-bottom: 50px;
  }


  
</style>
