---

const {speaker} = Astro.props;

---






{
    
    speaker.attributes.category && (
      <a
        class="btn btn--white"
        href={`${import.meta.env.BASE_URL}./category/${
          speaker.attributes.category.data.id
        }`}
      >
        More {speaker.attributes.category.data.attributes.naam}
      </a>
    )
  }