---
const { speaker } = Astro.props;

const { showBody = false } = Astro.props;
---

<div class="wrapper" transition:name={`category-${speaker.id}`}>
  <div class="show_category"></div>
  <div class="content">
    <h3 class="title">{speaker.attributes.naam}</h3>

    <div class="image">
      <img
        src={import.meta.env.STRAPI_URL +
          speaker.attributes.image?.data.attributes.formats.small.url}
        alt={speaker.attributes.title}
      />
    </div>
  </div>
</div>
<style>
  .title {
    font-size: 40px;
    font-family: "alphaLyrae";
    padding-block-end: 20px;
  }

  .container {
    margin-top: 50px;
  }

  .text-center {
    font-size: 150px;
    font-family: "alphaLyrae";
  }

  ul {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }

  .show_category {
    display: flex;
    justify-content: center;
  }

  .category {
    font-size: 20px;
    font-family: "alphaLyrae";
    padding-block-end: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

 
</style>
