---
const { speakers } = Astro.props;

---



<div class="speaker">

{
      speakers.map((speaker) => (
      <li>
        <a href={`${import.meta.env.BASE_URL}./speakers/${speaker.id}`}>
          <h1 class="speaker_tekst"> {speaker.attributes.naam} </h1>
         <img src={import.meta.env.STRAPI_URL+speaker.attributes.image.data.attributes.formats.small.url} alt="">
        </a>
      </li>
      
    ))
  }

</div>


<style>

  .speaker {
    display: flex;
    justify-content:space-between;
    max-width: 80%;
    margin: 0 auto;
  }


  </style>