---
const { categories } = Astro.props;
---

<script is:inline>
  const handleOptionChange = () => {
    const selection = [
      ...document.querySelectorAll(".filteroption:checked"),
    ].map(($input) => $input.value);

    if (selection.length > 0) {
      document
        .querySelectorAll("[data-category]")
        .forEach(($li) => $li.classList.add("hidden"));

      selection.forEach((category) => {
        document
          .querySelectorAll(`[data-category="${category}"]`)
          .forEach(($li) => $li.classList.remove("hidden"));
      });
    } else {
      document
        .querySelectorAll("[data-category]")
        .forEach(($li) => $li.classList.remove("hidden"));
    }
  };

  document.addEventListener("astro:page-load", () => {
    const options = document.querySelectorAll(".filteroption");
    options.forEach((option) =>
      option.addEventListener("change", handleOptionChange)
    );
  });
</script>

<ul class="filter">
  {
    categories.map((category) => (
      <li>
        <label>
          <span>{category.attributes.naam}</span>
          <input
            class="filteroption"
            type="checkbox"
            value={category.attributes.naam}
            name="filter"
          />
        </label>
      </li>
    ))
  }

  
</ul>

<style>
  ul {
    display: flex;
    gap: var(--s2);
    margin-bottom: var(--s4);
    justify-content: end;
    padding-right: 3rem;
  }

  input {
    display: none;
  }

  label {
    padding: var(--s_1) var(--s2);
    background-color: white;
    border-radius: 20px;
  }

  label:hover {
    box-shadow: var(--defaultShadow);
    color: #d9d9d9;
    cursor: pointer;
  }

  label:has(input:checked) {
    background-color: var(--c-primary);
    color: #d9d9d9;
  }
</style>
