---
const { groups } = Astro.props;


---


  


<ul>
    {
      groups.map((group) => (
        <li>
            <a href={`/groups/${group.id}`}>
         
        
        
            

          <p> {group.attributes.name}</p>
        </li>
        </a>
      ))
    }
  </ul>



<style>
  ul {
    display: flex;
    gap: var(--s2);
    margin-bottom: var(--s4);
    justify-content: center;

  }

  input {
    display: none;
  }

  label {
    padding: var(--s_1) var(--s2);
    background-color: white;
    border-radius: var(--border-radius-xl);
  }

  label:hover {
    box-shadow: var(--defaultShadow);
    color: var(--c-primary);
    cursor: pointer;
  }

  label:has(input:checked) {
    background-color: var(--c-primary);
    color: white;
  }
</style>
