---
import fetchApi from '../lib/strapi';

const pages = await fetchApi({
     endpoint: "pages",
    wrappedByKey:"data",
     query:{
    populate:["blocks", ]
     }
  });  
  
  console.log(pages);
---


 <div class="hero_container">
  { pages.map(({attributes: {blocks,link }}) => (
     <h1>{blocks[0].header}</h1>
     <p class="subHeader" >{blocks[0].subHeader}</p>
 ))
 }   

<h1></h1>

   


</div>
<style>

.hero_container{
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;

}
image{
width: 100vh;
}
h1{
  color:white;
  font-family: "MonumentExtended-Regular";
  font-size: 80px;
}

.subHeader{
  color:white;
  font-size: 18px;
  padding-top:2rem ;
  width: 580px;
  line-height: 1.6;
}


</style> -->


