---
import PlayerCard from "./PlayerCard.astro";



 const { players } = Astro.props;

console.log(players);
---

   



  <ul>
    {
      players.map((players) => (
        <li>
          <h1> {players.attributes.name} </h1>
          <a href={`/players/${players.id}`}>
            <PlayerCard players={players} />
          </a>
        </li>
      ))
    }
  </ul> 