:root {
  --xs-sizing: 8rem;
  --s-sizing: 16rem;
  --m-sizing: 24rem;
  --l-sizing: 32rem;
  --xl-sizing: 64rem;
  --xxl-sizing: 120rem;

  --backgroud-color: #2b2938;
  --c-primary:#b33bd5;




  --s_2: .2rem;
  --s_1: .5rem;
  --s1: 1rem;
  --s2: 1.2rem;
  --s3: 1.5rem;
  --s4: 2rem;

  --fs-s: .8rem;
  --fs-m: 1rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../assets/fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: "alphaLyrae";
  src: url(../assets/fonts/AlphaLyrae-Medium.ttf);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--backgroud-color);
}
p {
  font-family: "Poppins", sans-serif;
}
 
.hidden {
  display: none;
}


a {
  text-decoration: none;
  color: inherit;
}

ul , li  {
  list-style: none;
  padding: 0;
  margin: 0;
}

